@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


html{
  background-color: #090a0d;
  
}

/*variables*/

.main-conteiner{
  background-color: #090a0d;
  
}

:root {
  --primary-color: #d89b30;
  --secundary-color: #272626;
  --terciary-color: #fbfaf0;
  --action-color: #dfb160;
  --hover-color: #000000;
}

/*scrollbarr*/
* {
  scrollbar-width: thin;
  scrollbar-color: #272626 #272626;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #272626;
}

*::-webkit-scrollbar-track:hover {
  background-color: #47381e;
}

*::-webkit-scrollbar-track:active {
  background-color: #272626;
}

*::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #272626;
  border: 10px solid #dfb160;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #dfb160;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #d89b30;
}

/*fin de scrollbar*/

.form-label{
  color: var(--terciary-color);
}

.body,p {
  font-size: 16px;
  letter-spacing: 0.5px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: var(--terciary-color);
  padding-left: 20px;
}



h1 {
  color: var(--terciary-color);
  font-weight: 100;
  letter-spacing: -1.5px;
  padding-left: 90px;

  
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.25px;
  color: var(--terciary-color);
}
/*header*/

.desktop-nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: block;
  padding: 60px 18px;
}

.main-navbar .nav-item {
  padding: 0.5rem;
  transition: 0.1s ease-in-out;
border-radius: 25px;
}

.main-navbar .nav-item:hover {
  background-color: var(--action-color);
 
}

.nav-link:focus,
.nav-link:hover,
.nav-link.show {
  color: #000;
}

.main-header {
  color: var(--action-color);
  position: sticky;
}
.main-navbar {
  background-color: var(--secundary-color);
}

.nav-link {
  color: var(--action-color);
  font-weight: 400;
  font-size: 12px;
  list-style: upper-alpha;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-link.active {
  color: var(--terciary-color);
}

/*navbar*/

.header-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.logo {
  padding: 18px;
}

.main-navbar .navbar-brand .main-logo {
  width: 46px;
  height: 46px;
  object-fit: cover;
}
.header-user {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 0.75rem;
}

.header-user i {
  font-size: 1rem;
  padding: 16px;
}
.header-user-img {
  height: 60px;
  width: 60px;
}


.main-conteiner{
  /*padding:1rem 1.5rem*/
  flex-grow: 1;
  background-color: var(--hover-color);
  min-height: 100vh;

}


@media screen and (min-width: 200px) and (max-width: 620px ){
  .container-form-map{ 
    flex-direction:column;
    align-items: center;
    
  }
  .contaneiner-form, .conteiner-map {
    width: 100% !important;
  }

  .conteiner-map iframe {
    width: 100% !important;
    height: 60vh !important;
  }

/*Google maps */ 


}


.container-img-header-contact {
    height: 70vh;
    margin-top: 7rem !important;
}

.container-img-header-contact {
    background-image: url("../assets/image/img-header-contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6rem;
}

.container-img-header-contact h2 {
    font-size: 5rem;
    font-family: 'Merriweather', serif;
    letter-spacing: 5px;
    text-shadow: 10px 0px 10px #0f0b0995;
}

.container-img-header-contact p {
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
    font-weight: 400;
    text-shadow: 15px 5px 15px #0f0b09;
}

.paragraph-contact {
    width: 90%;
}

.container-form-map {
    height: fit-content;
    

}

.container-form-contact {
    width: 45%;
    background-color: var(--secundary-color);
    border-radius: 20px 0px 0px 20px;
    height: fit-content;
}

.container-maps {
    width: 60%;
}

.iframe-map {
    border: radius 20px;;
}

.button-send{
    width: 80%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 10px;
  
}

/* End Contact */

/* Start Contact */

.container-form-map{
  padding: 20px !important;
  width: 90%;
}


form input,
form textarea{
    background-color: transparent !important;
    color: #FFFFFF !important;
    transition: 0.3s all linear;
}
form select{
  color: var(--terciary-color);
  background-color: var(--secundary-color);
}
.form p,
form input::placeholder,
form textarea::placeholder {
    color: #FFFFFF !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


.container-img-header-contact {
    height: 70vh;
    margin-top: 7rem !important;
}

.container-img-header-contact {
    background-image: url("../assets/image/img-header-contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6rem;
}

.container-img-header-contact h2 {
    font-size: 5rem;
    letter-spacing: 5px;
    text-shadow: 10px 0px 10px #0f0b0995;
}

.container-img-header-contact p {
    letter-spacing: 2px;
    font-weight: 400;
    text-shadow: 15px 5px 15px #0f0b09;
}

.paragraph-contact {
    width: 90%;
}

.container-form-map {
    height: fit-content;
   

}

.container-form-contact {
    width: 50%;
    background-color:var(--secundary-color);
    border-radius: 20px 0px 0px 20px;
}

.container-maps {
    width: 100%;
}

.iframe-map {
    border-radius: 0px 20px 20px 0px;
}

.summit {
    width: 80%;
    background-color: var(--secundary-color);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s all linear;
}

.button-send:hover {
    background-color: white;
    color: var(--primary-color) !important;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s all linear;
}
/* End Contact */